.header {
  background-color: rgb(60, 62, 85);
}

.ul {
  position: relative;
  top: 20%;
}

.li {
  border-bottom: 1px solid rgb(60, 62, 85);
}

.li:first-child {
  border-top: 1px solid rgb(60, 62, 85);
}

.li:hover {
  background-color: rgb(43, 51, 80);
  border-left: 5px solid rgb(116, 121, 139);
  cursor: pointer;
}
