.mainContainer {
  background-image: url("./assets/images/car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.mainContainer::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
