.container {
  background-color: slateblue;
  width: 320px;
  min-height: 400px;
  border-radius: 20px;
  opacity: 0.9;
  z-index: 1;
}

.containerTitle {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 20px 20px 50px 50px;
}

.button {
  border-radius: 12px;
}
