.container {
  background-color: rgb(70, 97, 148);
  width: 300px;
  min-height: 270px;
  border-radius: 20px;
  opacity: 0.9;
  z-index: 1;
}

.containerTitle {
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 20px 20px 50px 50px;
}

.boton {
  display: block;
  margin: 0 auto;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  padding: 5px 15px;
  font-weight: bold;
}

.boton:hover {
  background-color: aliceblue;
  color: black;
  border: 1px solid black;
  font-weight: bold;
}
