.container {
  background-color: rgb(70, 97, 148);
  border-radius: 20px;
  width: 500px;
  min-height: 60%;
  opacity: 0.9;
  z-index: 1;
}

.containerTitle {
  background-color: rgb(253, 253, 253);
  padding: 1rem 0;
  border-radius: 20px 20px 50px 50px;
}

.containerForm {
  padding: 20px 10px;
}

.boton {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  padding: 5px 15px;
  font-weight: bold;
}

.boton:hover {
  background-color: rgb(219, 209, 209);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  font-weight: bold;
}
