# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    env:
      DOCKER_MAIN_USER: ${{vars.DOCKER_MAIN_USER}}
      DOCKER_MAIN_PASS: ${{secrets.DOCKER_MAIN_TOKEN}}
      DOCKER_GUEST_USER: ${{vars.DOCKER_GUEST_USER}}
      DOCKER_GUEST_PASSWORD: ${{secrets.DOCKER_GUEST_PASSWORD}}
      JWT_SECRETKEY: ${{secrets.JWT_SECRET_KEY}}
      EMAIL_BREVO: ${{vars.EMAIL_BREVO}}
      APIKEY_BREVO: ${{secrets.APIKEY_BREVO}}
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
      - name: "List folders"
        run: |
          echo "Hello from this pipeline!"
          pwd
          ls -la

      - name: "Check docker"
        run: |
          docker -v
          docker compose version

      - name: "Log in to Docker Hub with user tavoguest22"
        uses: docker/login-action@v3
        with:
          username: ${{env.DOCKER_GUEST_USER}}
          password: ${{env.DOCKER_GUEST_PASSWORD}}

      - name: "build and push Docker image testing"
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          no-cache: true
          tags: tavoguest22/testing_store:latest

      - name: "test"
        run: |
          echo "NODE_ENV=test" > backend/.env.test
          echo "POSTGRES_DB=shopping_test" >> backend/.env.test
          echo "POSTGRES_HOST=testdb_pg" >> backend/.env.test
          echo "POSTGRES_USER=tavo" >> backend/.env.test
          echo "POSTGRES_PASSWORD=1234" >> backend/.env.test
          echo "POSTGRES_PORT=5432" >> backend/.env.test
          echo "SECRET=${{env.JWT_SECRETKEY}}" >> backend/.env.test
          echo "ADMIN_EMAIL=admin@gmail.com" >> backend/.env.test
          echo "ADMIN_PASSWORD=1111" >> backend/.env.test
          echo "EMAIL=${{env.EMAIL_BREVO}}" >> backend/.env.test
          echo "APIKEY_BREVO=${{env.APIKEY_BREVO}}" >> backend/.env.test
          docker compose -f docker-compose.test.yml up --abort-on-container-exit --exit-code-from app
          docker compose -f docker-compose.test.yml down -v

      - name: "Log in to Docker Hub with user tavov21"
        uses: docker/login-action@v3
        with:
          username: ${{env.DOCKER_MAIN_USER}}
          password: ${{env.DOCKER_MAIN_PASS}}

      - name: "Create TAG"
        run: echo "TAG=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: "build and push Docker image backend"
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          no-cache: true
          tags: |
            tavov21/store_backend:${{env.TAG}}
            tavov21/store_backend:latest

      - name: "build and push Docker image frontend"
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          no-cache: true
          tags: |
            tavov21/store_frontend:${{env.TAG}}
            tavov21/store_frontend:latest
