# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    env:
      branch: main
      projectname: ecommerce
      owner: tavo
      username: ${{secrets.USERNAME}}
      password: ${{secrets.PASSWORD}}
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: "Making a job"
        run: echo "Hello from this pipeline!"

      - name: "Showing environments"
        if: ${{env.branch == 'master'}}
        run: |
          echo "nombre rama: ${{env.branch}}"
          echo "nombre projecto: ${{env.projectname}}"
          echo "nombre dueño: ${{env.owner}}"
      - name: "Showing default environments"
        run: |
          echo "info event: ${{toJson(github.event)}}"
          echo "info: $GITHUB_REPOSITORY_OWNER"
          echo "info: $GITHUB_ACTOR"

      - name: "System environments"
        run: |
          echo "obtener nombre de usuario: ${{env.username}} "
          echo "obtener contraseña de usuario: ${{env.password}} "
